{% extends "base.html" %}
{% load static %}
{% load guardian_tags %}

{%block content %}
    {% get_obj_perms user for object as "assos_perms" %}
    <h1>{{object.name}}</h1>
    <h3>President</h3>
    {% if president %}
    <p>{{president.user.username}}</p>
    {% endif %}
    <h4>Membres du bureau</h4>
    <ul>
    {% for manager in managers %}
    <li>{{manager.user.username}}</li>
    {% if "manage_manager" in assos_perms %}
    <a class="confirm" href="{% url 'event:delete_manager' asso_pk=object.pk pk=manager.pk %}">retograde to member</a>
    {% endif %}
    {% if "manage_president" in assos_perms %}
    <a class="confirm" href="{% url 'event:add_president' manager.pk %}">Switch with current President</a>
    {% endif %}
    {% endfor %}
    </ul>
    <h5>Membres</h5>
    <button style="color:brown" onclick="display('add_members')">Add Members</button>
    {% if "manage_member" in assos_perms %}
    <form id="add_members" style="display: none;" action="{% url 'event:asso_detail' object.id %}" method="POST">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Add members">
    </form>
    {% endif %}
    <ul>
    {% for member in members %}
    <li>{{member.user.username}}</li>
    {% if "manage_member" in assos_perms %}
    <a class="confirm" href="{% url 'event:delete_member' asso_pk=object.pk pk=member.pk %}">Remove</a>
    {% endif %}
    {% if "manage_manager" in assos_perms %}
    <a class="confirm" href="{% url 'event:add_manager' pk=member.pk asso_pk=object.pk %}">Promote to manager</a>
    {% endif %}
    {% endfor %}
    </ul>
    <br/>
    <h1>Events</h1>
    {% if "create_event" in assos_perms %}
    <a href="{% url 'event:event_creation' asso=object.pk%}">Create an event</a>
    {% endif %}
    <h3>Ongoing events</h3>
    <ul>
    {% for event in ongoing_events %}
    <li>{{event.title}}</li>
    {% endfor %}
    </ul>
    <h3>Future events</h3>
    <ul>
    {% for event in future_events %}
    <li><a href="{% url 'event:event_detail' event.id %}">{{event.title}}</a></li>
    {% endfor %}
    </ul> 
    {% if "delete_association" in assos_perms %}
    <form action="{% url 'event:assos_delete' object.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" class="confirm" value="Delete" />
    </form>
    {% endif %}
    <script>
    function display(el)
    {
        x = document.getElementById(el);
        x.style.display = "block";
    }
    </script>
{% endblock content %}
