{% extends "base.html" %}
{% load static %}
{% load guardian_tags %}

{%block content %}   
{% get_obj_perms user for event as "event_perms" %}
<div style="font-size:1.1rem;"class="container basic-block">
    <h1 style="font-family:'Courier New', Courier, monospace; font-weight:bolder; color:#100b2c; text-transform: uppercase; margin:10px; margin-bottom: 30px;">{{event.title}}</h1>
    <div class="row">
        <article style="padding-left:40px;" class="col-xs-4 col-sm-4 col-md-4 col-lg-6">
            <p><b>State</b> : {{event.get_event_state_display}}</p>
            <p><b>Manager</b> :
            {% if event.manager_id %}
                {{event.manager_id}}
            {% else %}
                No manager
            </p>
            {% endif %}
            <p><b>Starting date</b> :
                {{event.start}}
            </p>
            <p><b>Ending date</b> :
                {{event.end}}
            </p>
            <p><b>Address</b> :
                {{event.address_id.raw}}
            </p>
            <p><b>Premium</b> :
                {{event.premium_flag}}
            </p>
            {% if event.see_remaining %}
            <p><b>Tickets left</b> :
            <br/>
            extern : {{extern_left}}
            <br/>
            intern : {{intern_left}}
            <br/>
            staff : {{staff_left}}
            {% endif %}
            <h3 style="padding-top:10px;"><b>Assosciation</b> :
                <a style="margin-left:20px; color:#6351ce;" href="{{event.assos_id.get_absolute_url}}">{{event.assos_id.name}}</a>
            </h3>
            <a href="{% url 'index_shop' %}"><button class="btn btn-outline-info" style="margin-top:10px; margin-bottom: 10px;">Buy Now!</button></a>
            {% if event.is_ok_cancel and perms.event.cancel_event %}
                <form action="{% url 'event:event_cancel' event.pk %}" method="POST">
                {% csrf_token %}
                <input style="margin-top:10px;" type="submit" class="confirm" value="Cancel" />
            {% elif event.is_ok_cancelable and "make_event_cancelable" in event_perms %}
                <form action="{% url 'event:make_cancelable' event.pk %}" method="POST">
                {% csrf_token %}
                <input style="margin-top:10px;" type="submit" class="confirm" value="Cancel" />
            {% elif event.is_ok_delete %}
                {% get_obj_perms user for event.assos_id as "asso_perms" %}
                {% if "remove_event" in asso_perms or perms.event.remove_event %}
                <form action="{% url 'event:event_delete' event.pk %}" method="POST">
                {% csrf_token %}
                <input style="margin-top:10px;" type="submit" class="confirm" value="Delete" />
                {% endif %}
            {% endif %}

        </article>
        <article class="col-xs-4 col-sm-4 col-md-4 col-lg-6">
            <img src={{ event.image.url }} style="
                    opacity: 0.9;
                    height:65%; 
                    width:65%;
                    border-radius: 10px;
                    border: 8px solid black;
                ">
        </article>
    </div>
</div>
{% endblock content %}
