{% extends "base.html" %}
{% load static %}

{%block content %}
    <div class="container" style="
            background-color: 
        lavenderblush;
        margin-top:50px;
        margin-bottom:50px;
        padding: 10px;
        opacity: 0.9;
        border-radius: 5px;
        ">
            <h1 style="
                font-family: 'Courier New', Courier, monospace;
                font-weight:bold;
            ">Upcoming Events</h1>
            <div class="row">
                <article class="col-xs-4 col-sm-4 col-md-4 col-lg-6">
                    <img src="{% static "img/event_list_img.jpg"%}" style="
                        opacity: 0.9;
                        height:100%; 
                        width:100%;
                        border-radius: 10px;
                    ">
                </article>
                <article class="col-xs-4 col-sm-4 col-md-4 col-lg-6">
                    {% if events %}
                        <ul>
                        {% for event in events %}
                        <li style="list-style-type: none;
                                    margin-bottom: 5px;
                            ">
                            <a style="
                                color:black;
                                opacity:0.8;
                                font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
                                font-size:large;
                            " href="{% url 'event:event_detail' event.id %}">{{ event.title }}
                            </a>
                            {% if perms.association.delete_event %}
                            <a style="margin-left:10px;" class="confirm" href="{% url 'event:event_delete' event.pk %}">Delete</a>
                            {% endif %}
                            <p style="
                                font-weight: lighter;
                            ">
                                Starting Date: {{ event.start }}
                            </p>
                        </li>
                    {% endfor %}
                    </ul>
                    {% else %}
                        <p> No events </p>
                    {% endif %}
                </article>
            </div>
        </div>
{% endblock content %}
