{% extends "base.html" %}
{% load guardian_tags %}
{% load static %}

{%block content %}    
    <div class="main_body">
        <div class="container-fluid event-carousel">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner" >
                            <div class="carousel-item c-item active">
				    <img src="{% static "img/slide.png" %}" class="d-block w-100 car-img" alt="First slide"/>
                            </div>
                            <div class="carousel-item c-item">
				    <img src="{% static "img/slide3.png" %}" class="d-block w-100 car-img" alt="Second slide" style="border-radius:5px;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid actu-wraper">
            <div class="container actu">
                <h1 style="margin-bottom:15px;">PREMIUM EVENTS</h1>
                {% if events %}
                <div class="row">
                    {% for event in events %}
                    <article class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        
                            <a class="event-link" href="{% url 'event:event_detail' event.id %}">
                                <div class="event-block">
                                <h1 style="font-size:2rem; color:#6351ce;">{{ event.title }}</h1>
                                <p>Starting : {{ event.start }}</p>
                                {% if event.manager_id %}
                                <p style="color:black;">Created by : {{event.manager_id}}</p>
                                {% else %}
                                <p style="color:black;">No manager</p>
                                {% endif %}
                            </div>
                        </a>
                        
                    </article>
                    {% endfor %}
                </div>
                {% else %}
                    <p style="font-size:2rem; padding-left:50px;">No events yet</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
<script type="text/javascript">
    $('.carousel').carousel({
  interval: 2000
})
</script>
