{% extends "base.html" %}
{% load guardian_tags %}
{% load static %}

{%block content %}    
    <div class="main_body">
        <div style="
            margin-bottom:50px;
        " id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="height:400px; width:max-content;" class="d-block w-100" src="{% static "img/index_event_carousel.png" %}" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        {% if events.0 %}
                        <h1 class="carousel-title">{{ events.0.title }}</h1>
                        <p>Starting date: {{ events.0.start }} by {{ events.0.assos_id }}</p>
                        <a class="event-link" href="{% url 'event:event_detail' events.0.id %}">
                            More informations
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <img style="height:400px; width:max-content;" class="d-block w-100" src="{% static "img/index_event_carousel.png" %}" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        {% if events.1 %}
                        <h1 class="carousel-title">{{ events.1.title }}</h1>
                        <p>Starting date: {{ events.1.start }} by {{ events.1.assos_id }}</p>
                        <a class="event-link" href="{% url 'event:event_detail' events.1.id %}">
                            More informations
                        </a>
                        {% endif %}
                    </div>
                </div>
                <div class="carousel-item">
                    <img style="height:400px; width:max-content;" class="d-block w-100" src="{% static "img/index_event_carousel.png" %}" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        {% if events.2 %}
                        <h1 class="carousel-title">{{ events.2.title }}</h1>
                        <p>Starting date: {{ events.2.start }} by {{ events.2.assos_id }}</p>
                        <a class="event-link" href="{% url 'event:event_detail' events.2.id %}">
                            More informations
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <div class="container-fluid actu-wraper">
            <div class="container actu">
                <h1 style="margin-bottom:15px;">PREMIUM EVENTS</h1>
                {% if events %}
                <div class="row">
                    {% for event in events %}
                    <article class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        
                            <a class="event-link" href="{% url 'event:event_detail' event.id %}">
                                <div class="event-block">
                                <h1 style="font-size:2rem; color:#6351ce;">{{ event.title }}</h1>
                                <p>Starting : {{ event.start }}</p>
                                {% if event.manager_id %}
                                <p style="color:black;">Created by : {{event.manager_id}}</p>
                                {% else %}
                                <p style="color:black;">No manager</p>
                                {% endif %}
                            </div>
                        </a>
                        
                    </article>
                    {% endfor %}
                </div>
                {% else %}
                    <p style="font-size:2rem; padding-left:50px;">No events yet</p>
                {% endif %}
            </div>
        </div>

        <div class="basic-block">
            <h1 style="margin-bottom:15px;">This month calendar</h1>

            {{ calendar }}
        </div>
          
    </div>
{% endblock content %}
<script type="text/javascript">
    $('.carousel').carousel({
  interval: 2000
})
</script>
