{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title%}My Profile{% endblock %}

{% block content %}
    <div class="content-section">
        <div class="media" style="margin-top: 50px; margin-bottom:50px;">
            <div class="media-body" style="background-color:white; padding-left:10px;">
                <div style="
                        padding:10px;
                    ">
                    <p style="font-size:2rem;"><b>Username: </b>{{ user.username }}</p>
                    <p class="text-secondary"><b>Birth :</b> {{ user.profile.birth_date }}</p>
                    <p class="text-secondary"><b>Email :</b> {{ user.email }}</p>
                    <p class="text-secondary"><b>Address :</b> 
                        {% if user.address_id %}
                        {{ user.address_id }}
                        {% else %}
                            None
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
