[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
redgreenunittest = "*"
djangorestframework = "*"
flake8 = "*"
django-rest-swagger = "*"
django-composite-foreignkey = "*"
social-auth-backend-epita = "==0.0.4"

[requires]
python_version = "3.7"
