[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
social-auth-backend-epita = "*"
social-auth-app-django = "*"
django = "*"
redgreenunittest = "*"
djangorestframework = "*"
flake8 = "*"
django-rest-swagger = "*"
django-composite-foreignkey = "*"
pillow = "*"
django-crispy-forms = "*"
django-guardian = "*"
python-jose = "*"

[requires]
python_version = "3.7"
