{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <h2>Available Products</h2>
            <tbody>
            <ul>
            {% for product in all_products %}
            <li>
                <tr>
                    <h3><a href="{% url 'product_detail' product.pk product.slug  %}">
                            {{ product.name }}</a></h3>
                            Price: €{{ product.price }}
                </tr>
            </li>
            {% endfor %}
            </ul>
            </tbody>
        </div>
    </div>

{% endblock %}
