{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container" style="
        background-color: 
        lavenderblush;
        margin-top:50px;
        margin-bottom:50px;
        padding: 10px;
        opacity: 0.9;
        border-radius: 5px;
    ">
        <div class="container">
            <div class="row">
                <article class="col-xs-4 col-sm-4 col-md-4 col-lg-6">
                    <h2 style="font-family: 'Courier New', Courier, monospace;
                                font-weight:bold;
                    ">
                        Available Products</h2>
                    <ul style="margin-left: 35%;">
                    {% for product in all_products %}
                        <li>
                            <tr>
                                <h3 style="font-family: 'Courier New', Courier, monospace;
                                        font-style: italic;
                                ">
                                    {{ product.name }}</h3>
                                    <p style="padding-left: 20px;">Price: €{{ product.price }}
                                        <a href="{% url 'product_detail' product.pk product.slug  %}" class="btn btn-warning"
                                        style="opacity: 0.9;
                                                margin-left: 20%"
                                    >Buy</a>
                                    </p>
                            </tr>
                        </li>
                    {% endfor %}
                    </ul>
                </article>
                <article class="col-xs-4 col-sm-4 col-md-4 col-lg-6">
                    <img src= "{% static "img/shop_img.jpg"%}"/ style="
                        height:100%; 
                        width:100%;
                        opacity: 0.9;
                    ">
                </article>
            </div>
        </div>
    </div>
{% endblock %}
