{% extends 'base.html' %}


{% block title %}
    {{ product.name }} |
{% endblock %}


{% block content %}

    <div class="container" style="
        background-color: 
        lavenderblush;
        margin-top:50px;
        margin-bottom:50px;
        padding: 10px;
        opacity: 0.9;
        border-radius: 5px;
    ">
            <p><a href="{% url 'index_shop' %}" style="color: black; text-decoration: underline;">All Products </a> &gt;
                {{ product.name }}
            </p>
                <h2 style="font-family: 'Courier New', Courier, monospace;
                font-weight:bold;
                ">
                    {{ product.name }}
                </h2>
                <div style="
                    margin-left:10%;
                ">
                    {% if prices %}
                        {% for price in prices %} 
                            <p> For {{ price.get_ticket_type_display }}: {{ price.price }}€</p>    
                        {% endfor %}

                        <p> {{ext}} </p>
                        <p> {{int}} </p>
                        <p> {{staff}} </p>


                        <form action="{% url 'product_detail' product.pk %}" 
                                                method="post">
                                {% csrf_token %}
                                {{ form }}
                                <input type="submit" value="Add to cart" class="btn btn-primary" >
                            </form> 
                    {% else %}
                        <p> No Tickets To Sell </p>
                    {% endif %}
                </div>
    </div>
{% endblock %}
